!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
  body
    //if lt IE 7
      p.chromeframe
        | Mikä tää on? Joku selain vai? Nyt vittu oikeesti meet lataamaan jonkun selaimen, joka on tehty tällä vuosituhannella.
    .header-container
      header.wrapper.clearfix
        h1.title= title
    .main-container
      .main.wrapper.clearfix
        div.pagediv
          strong
            p.pages
              span.pageLabel Sivu:
              span.numbers
        article
          section
            table.table
              thead
                tr
                  th Aika
                  th Nick
                  th URL
              for link in links
                tr
                 td
                   span.linkdate #{link.date}
                 td
                   span.poster #{link.poster}
                 td
                   span.link
                     a(href=link.url) #{link.url}
        input(type='hidden', id='pageNum', value='#{pageNum}')
        input(type='hidden', id='pages', value='#{pages}')
      // #main
    // #main-container
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\\/script>')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='javascripts/main.js')
