extends layout

block content
  h1= title
  ul
    for link in links
      li [#{link.date}] &lt;#{link.poster}&gt; 
        a(href=link.url) #{link.url}
    else
      li Linkkejä ei vielä ole. Pastee jotain #puavolle.