!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    //if lt IE 7
      p.chromeframe
        | Mikä tää on? Joku selain vai? Nyt vittu oikeesti meet lataamaan jonkun selaimen, joka on tehty tällä vuosituhannella.
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand= title
    .container
      .pagination.pagination-centered
        ul.pages
      .linkdiv
        table.table
          thead
            tr
              th Aika
              th Nick
              th URL
          for link in links
            tr
             td
               span.linkdate #{link.date}
             td
               span.poster #{link.poster}
             td
               .link
                 a(href=link.url) #{link.url}
        input(type='hidden', id='pageNum', value='#{pageNum}')
        input(type='hidden', id='pages', value='#{pages}')
      // #main
    // #main-container
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\\/script>')
    script(src='javascripts/main.js')
